<h2>Administration</h2>
<form (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>System Info</legend>

    <div class="pure-control-group" *ngIf="config?.build as build">
      <label for="{{id}}-build">Build</label>
      <input id="{{id}}-build" type="text" readonly [value]="build*1000|date:'medium'">
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-time">Time</label>
      <input id="{{id}}-time" type="text" readonly [value]="config.systemTime*1000|date:'medium'">
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-rssi">WiFi Signal</label>
      <input id="{{id}}-rssi" type="text" readonly [value]="config.rssi">
      <span>dBm</span>
    </div>
  </fieldset>

  <fieldset>
    <legend>Configuration</legend>

    <div class="pure-control-group">
      <label for="{{id}}-enabled">Power</label>
      <app-switch-button [(ngModel)]="config.enabled" id="{{id}}-enabled" name="{{id}}-enabled"
                         [labelOn]="'Enabled'" [labelOff]="'Disabled'"></app-switch-button>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-pixels">Pixel Count</label>
      <input [(ngModel)]="config.pixels" id="{{id}}-pixels" name="{{id}}-pixels"
             type="number" min="1" max="1000" required/>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-timeOffset">Time Zone</label>
      <input [(ngModel)]="config.timeOffset" id="{{id}}-timeOffset" name="{{id}}-timeOffset"
             type="number" min="-720" max="720" required/>
      <span>Minutes</span>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-ntpUpdateInterval">Time Synchronization</label>
      <input [(ngModel)]="config.ntpUpdateInterval" id="{{id}}-ntpUpdateInterval" name="{{id}}-ntpUpdateInterval"
             type="number" min="10" max="14400" required/>
      <span>Minutes</span>
    </div>

    <div class="pure-controls">
      <em>Changes will take effect after system restart</em>
    </div>
    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
      </button>
      <a [resourceLink]="config._links?.edit" class="pure-button"><i class="fa fa-undo" aria-hidden="true"></i> Restart</a>
      <a [resourceLink]="config._links?.reset" class="pure-button"><i class="fa fa-retweet" aria-hidden="true"></i>
        Factory Reset</a>
    </div>
  </fieldset>
</form>
