<h2>Factory Reset</h2>
<form (ngSubmit)="onSubmit()" class="pure-form">
  <div class="pure-controls">
    <em>This removes all system settings!</em>
  </div>
  <div class="pure-controls">
    <a [resourceLink]="config._links?.parent" class="pure-button">
      <i class="fa fa-chevron-left" aria-hidden="true"></i> Back
    </a>
    <button type="submit" class="pure-button button-danger">
      <i class="fa fa-retweet" aria-hidden="true"></i> Factory Reset
    </button>
  </div>
</form>
