<form (submit)="onSubmit()" class="pure-form pure-form-aligned">
  <fieldset>
    <legend>Login</legend>

    <div class="pure-control-group">
      <label for="{{id}}-username">Username:</label>
      <input id="{{id}}-username" name="{{id}}-username" [(ngModel)]="data.username" type="text"
             required minlength="1">
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-password">Password:</label>
      <input id="{{id}}-password" name="{{id}}-password" [(ngModel)]="data.password" type="password"
             required minlength="1">
    </div>

    <div class="pure-controls">
      <button type="submit" class="pure-button pure-button-primary">Login</button>
    </div>
  </fieldset>
</form>
