<button class="pure-button"
        type="button"
        (click)="value=true"
        (blur)="onBlur()"
        [class.pure-button-active]="value"
        [class.button-on]="value">
  {{labelOn}}
</button>
<button class="pure-button"
        type="button"
        (click)="value=false"
        (blur)="onBlur()"
        [class.pure-button-active]="!value"
        [class.button-off]="!value">
  {{labelOff}}
</button>
