<ng-container *resourceData="let data of apiLocation" [resourceContext]="data">
  <!-- Menu -->
  <resource-outlet [src]="data.body?._links?.nav"></resource-outlet>

  <div class="pure-g">
    <!-- Side Menu -->
    <div class="pure-u-1-5" *ngIf="data.body?._links?.collection">
      <resource-outlet [(src)]="data.body._links.collection"></resource-outlet>
    </div>

    <!-- Main View -->
    <div class="pure-u-4-5">
      <resource-view [data]="data"></resource-view>
    </div>
  </div>
</ng-container>
