<div class="pure-menu">
  <span class="pure-menu-heading">Animations</span>
  <ul *ngIf="animations?.items" class="pure-menu-list">
    <li *ngFor="let item of animations.items"
        class="pure-menu-item"
        [class.anim-active]="item.active">
      <a [resourceLink]="item._links?.self" class="pure-menu-link">
        {{item.label}}
        <span class="anim-name">{{item.name}}</span>
      </a>
    </li>
  </ul>
</div>
