<h2>No Animation</h2>
<form (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
  <div [hidden]="!detail.active">
    <em>Activated</em>
  </div>

  <fieldset>
    <app-animation-controls [data]="detail"></app-animation-controls>
  </fieldset>
</form>
