<h2>{{detail.name}}</h2>
<form (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
  <div [hidden]="!detail.active">
    <em>Activated</em>
  </div>

  <fieldset>
    <div class="pure-control-group">
      <label for="{{id}}-label">Label</label>
      <input [(ngModel)]="detail.label" id="{{id}}-label" name="{{id}}-label" placeholder="Label"
             type="text" maxlength="20" minlength="1" required/>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-color">Color</label>
      <input [(ngModel)]="detail.color" id="{{id}}-color" name="{{id}}-color" placeholder="Color"
             type="text" maxlength="7" minlength="7" required/>
    </div>

    <app-animation-controls [data]="detail"></app-animation-controls>
  </fieldset>
</form>
