<h2>{{detail.name}}</h2>
<form (ngSubmit)="onSubmit()" class="pure-form pure-form-aligned">
  <div [hidden]="!detail.active">
    <em>Activated</em>
  </div>

  <fieldset>
    <div class="pure-control-group">
      <label for="{{id}}-label">Label</label>
      <input [(ngModel)]="detail.label" id="{{id}}-label" name="{{id}}-label" placeholder="Label"
             type="text" maxlength="20" minlength="1" required/>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-brightness">Brightness</label>
      <input [(ngModel)]="detail.brightness" id="{{id}}-brightness" name="{{id}}-brightness"
             placeholder="Brightness"
             type="number" min="1" max="999" required/>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-fps">FPS</label>
      <input [(ngModel)]="detail.fps" id="{{id}}-fps" name="{{id}}-fps" placeholder="FPS"
             type="number" min="1" max="999" required/>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-count">Count</label>
      <input [(ngModel)]="detail.count" id="{{id}}-count" name="{{id}}-count" placeholder="Count"
             type="number" min="1" max="2000" required/>
    </div>

    <div class="pure-control-group">
      <label for="{{id}}-colors">Colors</label>
      <app-switch-button [(ngModel)]="detail.colors" id="{{id}}-colors" name="{{id}}-colors"></app-switch-button>
    </div>

    <app-animation-controls [data]="detail"></app-animation-controls>
  </fieldset>
</form>
