<h2>Schedule</h2>
<form (ngSubmit)="onSubmit()" #scheduleForm="ngForm" class="pure-form pure-form-aligned">
  <fieldset>
    <app-switch-button [(ngModel)]="data.enabled" name="{{id}}-enabled"
                       [labelOn]="'Enabled'" [labelOff]="'Disabled'"></app-switch-button>
  </fieldset>

  <fieldset>
    <legend>Timetable</legend>

    <div class="pure-control-group">
      <label for="{{id}}-time">Current Time</label>
      <input id="{{id}}-time" type="text" readonly [value]="data.systemTime*1000|date:'medium'">
    </div>

    <div class="pure-g">
      <div class="pure-u-1-2">
        <app-schedule-timetable [data]="data.schedule" [selection]="animations?.items"
                                [current]="data.current"
                                [start]="0"
                                [end]="data.schedule.length/2"></app-schedule-timetable>
      </div>

      <div class="pure-u-1-2">
        <app-schedule-timetable [data]="data.schedule" [selection]="animations?.items"
                                [current]="data.current"
                                [start]="data.schedule.length/2"
                                [end]="data.schedule.length"></app-schedule-timetable>
      </div>
    </div>

    <button type="submit" class="pure-button pure-button-primary"
            [disabled]="!scheduleForm.form.valid">
      <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
    </button>
  </fieldset>

</form>
