<div *ngFor="let val of data|slice:start:end; let i=index; trackBy:identity"
     class="pure-control-group"
     [class.active]="start + i == current">
  <label for="{{id}}-{{i}}">
    {{start + i | scheduleTimestamp:data.length}} -
    {{start + i + 1 | scheduleTimestamp:data.length}}
  </label>
  <select [(ngModel)]="data[start+i]"
          id="{{id}}-{{i}}" name="{{id}}-{{i}}"
          required>
    <option *ngFor="let anim of selection; let aindex = index; trackBy:identity"
            [value]="aindex">{{aindex}} {{anim.name}} {{anim.label}}
    </option>
    <option [value]="255">255 Disabled</option>
  </select>

  <button (click)="setValue(start+i+1, val)" type="button"
          *ngIf="i<data.length"
          class="pure-button button-small" title="Copy" aria-label="Copy">
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </button>
</div>
